@{
    Layout = "~/_SiteLayout.cshtml";
    //var videoUrl = Player.GetVideoUrl();
    var confDay = Schedule.GetConfDay(1);
}

<div id="container">
    @*@if(!string.IsNullOrEmpty(videoUrl)) {
        <iframe src="@videoUrl" seamless="seamless" frameborder="0" marginheight="0" marginwidth="0" id="videoPlayer"></iframe>
    }*@
    @RenderPage("_Schedule.cshtml", confDay)
</div>
