@{
    Layout = "~/_SiteLayout.cshtml";
    var videoUrl = Player.GetVideoUrl();
    var confDay = Schedule.GetConfDay(1);
}

<div id="container">
    <br />
    @if(!string.IsNullOrEmpty(videoUrl)) {
    <div id="playerContainer">
        <div class="embed-container">
            <iframe id="youtube" width="470" height="264" src="@videoUrl" frameborder="0" allowfullscreen=""></iframe>
        </div>
    </div>
    }
    <br />
    @RenderPage("_Schedule.cshtml", confDay)
</div>
