<?xml version="1.0" ?>
<configuration>
    <appSettings>
        <add key="url.scheduleUrl" value="~/App_Data/Schedule.xml" />
        <add key="url.speakerUrl" value="~/App_Data/Speakers.xml" />
        <add key="url.playerUrl" value="~/App_Data/VideoStreams.xml" />
    </appSettings>

    <system.web>
        <compilation debug="false" targetFramework="4.5" />
    </system.web>

    <system.webServer>
        <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    </system.webServer>
</configuration>
